.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%
}

.example-full-width:nth-last-child() {
    margin-bottom: 10px;
}

.example-container {
    position: relative;
    padding: 5px;
}