<div class="example-container mat-elevation-z8">
    <h1>User Details Form</h1>

    <form [formGroup]="userEditForm" (ngSubmit)="onFormSubmit(userEditForm.value)" class="example-form">

        <mat-form-field class="example-full-width">
            <input matInput formControlName="username">
            <mat-error>
                <span *ngIf="!userEditForm.get('username').valid && userEditForm.get('username').touched">Please
                    enter User Name</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" formControlName="password" *ngIf="!showKey">
            <input matInput placeholder="Password" formControlName="password" *ngIf="showKey">
            <button (click)="showHidePassword()" *ngIf="!showKey">show</button>
            <button (click)="showHidePassword()" *ngIf="showKey">hide</button>
            <mat-error>
                <span *ngIf="!userEditForm.get('password').valid && userEditForm.get('password').touched">Please
                    enter password</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="firstName" formControlName="firstName">
            <mat-error>
                <span *ngIf="!userEditForm.get('firstName').valid && userEditForm.get('firstName').touched">Please
                    enter firstName</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="lastName" formControlName="lastName">
        </mat-form-field>
        <button type="submit" [disabled]=!userEditForm.valid color="primary">save</button>
    </form>
</div>